@import "../node_modules/font-awesome/scss/font-awesome.scss";
$fa-font-path: "../fonts";

.treatmentRow {
    &:nth-child(odd) {
        background-color: lightgrey;
    }
    .treatmentItem {
        margin-left: 2em;
    }
}
